@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 100%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 243 75% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 263 70% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

.leaflet-container {
  background: #18181B !important;
  border-radius: 0.5rem;
}

.leaflet-popup-content-wrapper {
  background: #27272A !important;
  color: #FFFFFF !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.leaflet-popup-tip {
  background: #27272A !important;
}